.container{
   width: 60%;
   margin: 100px  auto;
   height: 400px;
   background-color: #000
}
.Game{
	width: 100%;
	position: relative;
}

.bar{
	width: 100px;
	background-color: green;
	border-radius: 5px;
	border:1px solid #fff;
	position: absolute;
	height: 20px;
	top:350px;
	left: 310px;
	box-sizing: border-box;
}



.ball{
	width: 20px;
	background-color: yellow;
	border-radius: 50%;
	border:1px solid #fff;
	position: absolute;
	height: 20px;
	top:340px;
	left: 520px;
	box-sizing: border-box;
}
